.sidebar {
  width: 200px;
  background-color: white;
  color: gray;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px whitesmoke;
  border-right: 1px solid gainsboro;
  position: fixed;
 
  
}
.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-left: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.item a {
  text-decoration: none;
  color: #333;
  margin-left: 8px;
}

.item::before {
  content: "●";
  font-size: 12px;
  margin-right: 8px;
}


.ai::before { color: blue; }
.crm::before { color: gray; }
.ecommerce::before { color: blue; }
.cryptocurrency::before { color:gray; }
.investment::before { color: blue; }
.lms::before { color: gray; }


.item:hover {
  border-left-color: #007bff;
  background: rgba(0, 123, 255, 0.1);
}


.logo_header {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.dropdown-toggle1, .dropdown-toggle {
  border-radius: 10px;
  background-color: #5956e9;
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;

}

.submenu {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu div {
  margin: 5px 0;
  color: #5956e9;

}
.menu-item-settings{
 
  margin-top: 100px;
  margin-left: 30px;
}

.menu-heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;

}
.mylink{
  color:gray;
  text-decoration: none;
  font-size: 20px;
}

.menu-item:hover {
  background-color: #5956e9;
  color: white;
}
.menu-item li:hover{
  color: white;
}
.downapp {
  margin-top: 20px;
}
.myicon{
  flex:1;
}
